EXPO_PUBLIC_OPENSUBSONIC_API_VERSION="1.16.1"
EXPO_PUBLIC_CLIENT_NAME="wavio"
EXPO_PUBLIC_TADDY_PODCASTS_API_USER_ID=""
EXPO_PUBLIC_TADDY_PODCASTS_API_KEY=""
EXPO_PUBLIC_TADDY_PODCASTS_API_LANGUAGE="ENGLISH"
EXPO_PUBLIC_TADDY_PODCASTS_API_COUNTRY="UNITED_STATES_OF_AMERICA"
SENTRY_AUTH_TOKEN=""